<section class="artifacts">
  <div class="boxwrapper">
    {{!-- <img class="image" src="/images/{{comments.filename}}" alt="{{comments.description}}"> --}}
  <div class="image-details">
    {{!-- the code for displaying annotations via comments-details--}}
          <div x-data="annotation()">
        <div class="relative">
          {{!-- <img src="../public/images/{{comments.filename}}" x-spread="image"> --}}
    {{> comments-details}}
                </div>
        </div>
      </div>
    <h3>{{comments.title}}</h3>
    <p>By: {{comments.user.name}}</p>
    {{!-- need a conditional statement here to account for null field --}}
    {{!-- <p>Image By: {{image.photographer}}</p> --}}
    <p>{{comments.description}}</p>
  </div>
    </div>
</section>