<section class="artifacts">
  <div class="boxwrapper">
    <img class="image" src="/images/{{comments.filename}}" alt="{{comments.description}}">
    <div class="image-details">
      {{!-- the code for displaying annotations via comments-details--}}
      {{!-- {{> comments-details}} --}}
      <h3 class="title">{{comments.title}}</h3>
      <p class="byline">By: {{comments.user.name}} <br>{{comments.user.title}}, {{comments.user.affiliation}}</p>
      {{!-- need a conditional statement here to account for null field --}}
      {{!-- <p>Image By: {{image.photographer}}</p> --}}
      <p class="description">{{comments.description}}</p>
    </div>
    </div>
</section>